<div>
    <article>
        <h1 class="title-country" style="text-align: center;">{{name}}</h1>
        <ul class="country-info" style="list-style: none; display:flex; justify-content: center;">
        <li class="left-block">
        <p><b>Capital:</b> {{capital}}</p>
        <p><b>Population:</b> {{population}}</p>
        <p><b>Languages:</b></p>
        <ul>
            {{#each this.languages}}
            <li>{{name}}</li>
            {{/each}}
        </ul>
        </li>
        <li class="right-block">
            <img src="{{flag}}" alt="" width="320px" style="margin-left: 20px;">
        </li>
        </ul>
    </article>
</div>